exportPattern("^[[:alpha:]]+")
importFrom("grDevices", "colors", "dev.off", "rainbow")
    importFrom("graphics", "abline", "arrows", "axis", "barplot", "box",
               "boxplot", "curve", "hist", "legend", "lines", "mtext",
               "par", "plot", "points", "stripchart", "text", "title")
    importFrom("stats", "TukeyHSD", "aov", "bartlett.test", "chisq.test",
               "complete.cases", "confint", "density", "dnorm",
               "fisher.test", "kruskal.test", "ks.test", "lm", "median",
               "na.omit", "oneway.test", "pairwise.wilcox.test", "pnorm",
               "qnorm", "qqline", "qqnorm", "qt", "residuals", "rstandard",
               "sd", "shapiro.test", "t.test", "var", "var.test",
               "wilcox.test")
    importFrom("utils", "combn", "head", "read.csv", "read.csv2")
